{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<!-- Seção principal -->
<section class="principal">
    <div class="imagem">
        <img src="{{ url_for('static', filename='intolerancia.png') }}" alt="Diversidade Religiosa">
    </div>
    <div class="texto">
        <h2>
            <span>Menos</span> <em>intolerância</em>,<br>
            <span>Mais</span> <em>respeito</em>.
        </h2>
    </div>
</section>

<!-- Seção do QR Code -->
<section class="forms">
    <div class="qrcode">
        <img src="{{ url_for('static', filename='qrcode.png') }}" alt="QR Code">
    </div>
    <div class="texto-forms">
        <h3>FORMS</h3>
        <p>Este forms tem como objetivo recolher dados para futuras análises.</p>
    </div>
</section>

{% endblock %}
